@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.bg-container {
  height: 100vh;
  background-color: #f2f5f7;
  overflow: auto;
}

.container {
  max-width: 700px;
  max-height: 800px;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 1px 1px 5px #dedfe5;
  font-size: 15px;
  background-color: #fff;
}

.form {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 3px solid #dedfe5;
}

.add-input {
  width: 80%;
  border: none;
  outline: none;
}

.add-button {
  width: 80px;
  height: 36px;
  color: #fff;
  background-color: #00ae1c;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  border: none;
  border-radius: 8px;
  &:hover {
    cursor: pointer;
  }
}

.plus {
  font-size: 22px;
  line-height: 12px;
}

.list {
  margin: 0 20px;
  list-style: none;
  max-height: 700px;
  overflow-y: auto;
  scrollbar-width: thin;
}

.list-item {
  display: flex;
  margin: 20px 0;
  padding: 20px;
  border: 1px solid #dedfe5;
  border-radius: 6px;
  box-shadow: 1px 1px 5px #dedfe5;

  &:hover .edit {
    display: block;
  }

  &:hover .delete {
    display: block;
  }

  &:hover {
    background: #efefef;
  }

  &.editable:hover {
    background: #fff;
  }

}


.check,
.checked {
  width: 12px;
  height: 12px;
  flex-shrink: 0;
  border-radius: 2px;
  &:hover {
    cursor: pointer;
  }
}

.check {
  border: 2px solid #323749;
}

.checked {
  position: relative;
  background: #00ae1c;
  &::after {
    content: "";
    position: absolute;
    top: -1px;
    left: 3px;
    display: block;
    height: 8px;
    width: 4px;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(45deg);
  }
}

.text {
  margin: 0 20px;
  padding-left: 20px;
  border-left: 1px solid #dedfe5;
  flex-grow: 3;
  &:focus {
    outline: none;
  }
}

.done {
  text-decoration: line-through;
}

.options {
  display: flex;
  margin-left: auto;
}

.edit,
.delete {
  display: none;
  flex-shrink: 0;
  margin-left: 10px;
  justify-self: flex-end;
  &:hover {
    cursor: pointer;
  }
}

.edit,
.delete,
.clear {
  width: 16px;
  height: 16px;
}

.edit {
  background: url("./assets/pencil.svg") no-repeat;
}

.delete,
.clear {
  background: url("./assets/trash.svg") no-repeat;
}

.save {
  width: 16px;
  height: 16px;
  position: relative;
  flex-shrink: 0;
  &::after {
    content: "";
    position: absolute;
    top: -1px;
    left: 5px;
    display: block;
    height: 10px;
    width: 5px;
    border-bottom: 2px solid #323749;
    border-right: 2px solid #323749;
    transform: rotate(45deg);
  }

  &:hover {
    cursor: pointer;
  }
}

.clear-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 36px;
  margin: 0 auto;
  border: 2px solid #dedfe5;
  background: #fff;
  box-shadow: 1px 1px 5px #dedfe5;
  border-radius: 8px;
  font-size: 15px;
  &:hover {
    cursor: pointer;
  }
}

.clear {
  display: block;
}
